$logo-font: logo_font;
$logo-font-size: 3rem;
$font-color: #565656;
$background-color: #dddddd;

$footer-text-size: 3rem;
$footer-text-color: white;

$light-blue: #35A7FF;
$dark-blue: #38618C;
$bright-pink: #FF5964;
