$logo-font: logo_font;
$primary-font: primary_font;
$primary-font_bold: primary_font_bold;
$primary-font_light: primary_font_light;
$logo-font-size: 3rem;
$font-color: #565656;
$background-color: #ecebda;

$footer-text-size: 3rem;
$footer-text-color: white;

//Colors
$light-blue: #35a7ff;
$dark-blue: #38618c;
$bright-pink: #ff5964;
$brighter-pink: #ff848c;
$yellow: #ffeb59;

$primary: $bright-pink;
//Buttons
$border-radius: 0.3rem;
$btn-icon-size: 48px;

$hero-text-color: white;
$hero-text-size: 2rem;
$hero-text-line-height: 2rem;
$hero-text-size-mobile: 1.5rem;
$hero-text-line-height-mobile: 1.5rem;

$hero-slogan-text-size: 7rem;
$hero-slogan-text-line-height: 8rem;
$hero-slogan-text-size-mobile: 2rem;
$hero-slogan-text-line-height-mobile: 2rem;
