@font-face {
  font-family: 'logo_font';
  src: url('/fonts/my_happy_ending_-_ttf-webfont.eot');
  src: url('/fonts/my_happy_ending_-_ttf-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/my_happy_ending_-_ttf-webfont.woff2') format('woff2'),
  url('/fonts/my_happy_ending_-_ttf-webfont.woff') format('woff'),
  url('/fonts/my_happy_ending_-_ttf-webfont.ttf') format('truetype'),
  url('/fonts/my_happy_ending_-_ttf-webfont.svg#logo_font') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'primary_font';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'primary_font_bold';
  src: url('/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'primary_font_light';
  src: url('/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}