@import "variables";
@import "fonts";
@import "utils";
@import "overwrite";
@import "~bootstrap/scss/bootstrap";

body {
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100vh;
  //font-family: primary_font;
}

.home-wrapper, main {
  height: calc(100vh - 60.8px);
  @include media-breakpoint-down(md) {
    height: calc(100vh - 56px);
  }
}

#app {
  min-height: 100vh;
}

.heroimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  .hero-logo, .hero-slogan {
    color: $hero-text-color;
    font-family: $logo-font;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
  }
  .hero-logo {
    font-size: $hero-text-size;
    line-height: $hero-text-line-height;
    @include media-breakpoint-down(sm) {
      font-size: $hero-text-size-mobile;
      line-height: $hero-text-line-height-mobile;
    }
  }
  .hero-slogan {
    font-size: $hero-slogan-text-size;
    line-height: $hero-slogan-text-line-height;
    @include media-breakpoint-down(sm) {
      font-size: $hero-slogan-text-size-mobile;
      line-height: $hero-slogan-text-line-height-mobile;
    }
  }
}

nav {
  a {
    font-size: 1.2em;
    margin: 0 10px;
  }
}

.page-title {
  font-family: $logo-font;
  color: $dark-blue;
  font-size: 5em;
  text-align: center;
}

.header-logo {
    font-size: $logo-font-size;
    transition: 0.5s;
    font-family: $logo-font;
    line-height: 1rem;
}

.categories {
  .card {
    margin-bottom: 40px;
  }
}
.loginfields {
    border: 1px #aaa solid;
    border-radius: 5px;
    padding: 20px;

    input {
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px #aaa solid;
      width: 100%;
      margin-bottom: 20px;
    }
}

.checkout {
  h3, h4 { margin-top: 20px; }
}

