@import "variables";
@import "fonts";
@import "utils";
@import "overwrite";
@import "~bootstrap/scss/bootstrap";

body {
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: $background-color;
  //font-family: primary_font;
}

h1, h2 {
  color: $bright-pink;
  font-weight: 400;
}
h3, h4, h5, h6 {
  color: gray;
  font-weight: 100;
}

.home-wrapper {
  height: 70vh;
  width: 80%;
  margin: 0 auto;
}

#app {
  min-height: 100vh;
}

.heroimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  .hero-text {
    font-family: $primary_font_light;
    font-size: $hero-text-size;
    line-height: $hero-text-line-height;
    @include media-breakpoint-down(sm) {
      font-size: $hero-text-size-mobile;
      line-height: $hero-text-line-height-mobile;
    }
  }
  .hero-slogan {
    color: $bright-pink;
    font-family: $logo-font;
    font-size: $hero-slogan-text-size;
    line-height: $hero-slogan-text-line-height;
    font-weight: 100;
    @include media-breakpoint-down(sm) {
      font-size: $hero-slogan-text-size-mobile;
      line-height: $hero-slogan-text-line-height-mobile;
    }
  }
}

.text-block {
  width: 50%;
  margin: 0 auto;
  @include media-breakpoint-down(md) {
    width: 80%;
  }
}

nav {
  .navbar-nav a {
    font-size: 1.1em;
    margin: 0 10px;
    font-weight: 100;
  }
}

.page-title {
  color: $bright-pink;
  font-family: $primary_font_light;
  font-size: 4em;
  text-align: center;
  margin-bottom: 30px;
}

.header-logo {
    font-size: $logo-font-size;
    transition: 0.5s;
    font-family: $logo-font;
    line-height: 1rem;
}

.big-icon {
  font-size: 5em;
  margin: 25px;
}

.categories {
  .card {
    margin-bottom: 30px;
  }
}

.checkout {
  h3, h4 { margin-top: 20px; }
}

.faq ul {
  list-style-type: none;
  .lead {
    font-size: 2.5em;
    color: gray;
  }
}

.profo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.carousel-control-next {
  color: black;
  left: 0 !important;
  &:focus { color: black; }
  &:hover { color: $bright-pink; }
}

.carousel-control-prev {
  color: black;
  left: auto;
  right: 0 !important;
  &:focus { color: inherit; }
  &:hover { color: $bright-pink; }
}

footer {
  background-color: $bright-pink;
  padding: 20px 40px;
  color: white;
  position: relative;
  min-height: 165px;

  .footer-logo {
    color: white;
    font-family: $logo-font;
    font-size: $hero-slogan-text-size;
    position: absolute;
  }

  h3 {
    color: white;
    font-size: 1.35em;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    padding-left: 10px;
  }

  a {
    color: white;
    &:hover { color: white; }
  }
}