// Shadow
.shadow-custom {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

// Background colors

.bg-transparent {
  background-color: transparent;
}

// Buttons

.btn-red {
  border: none;
  background-color: $bright-pink;
  color: #fff;
  transition: 0.2s;
  &:hover {
    background-color: $brighter-pink;
    color: #fff;
    text-decoration: none;
  }
}
.btn-pink {
  color: #fff;
  background-color: $brighter-pink;
  &:hover {
    background-color: $bright-pink;
    text-decoration: none;
  }
}
.btn-ghost-red {
  border: 3px $bright-pink solid;
  border-radius: 3px !important;
  color: $bright-pink;
  transition: 0.2s;
  &:hover {
    background-color: $bright-pink;
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
  }
}
.btn-blue {
  background-color: $dark-blue;
  color: #fff;
}

// Text

.text-red {
  color: $bright-pink;
  &:hover {
    color: $bright-pink;
  }
}
.text-gray {
  color: gray;
}
.text-black {
  color: black;
}
.text-white {
  color: white;
}
.alertcontainer {
  width: 100%;
  position: fixed !important;
  z-index: 2;
  display: flex;
  justify-content: center;
}
.alert {
  z-index: 5;
  margin: 0 !important;
  p { margin-bottom: 10px; }
}

// Modals
.modal.fade.right {
  h4 {
    font-size: 2em;
  }
  .btn {
    width: 100%;
  }
  .modal-dialog {
    position: fixed;
    margin: auto;
    width: 100%;
    overflow: auto;
    min-height: 100vh;
    transform: translate3d(0%, 0, 0);
    right: 0px;
    transition: opacity 0.3s linear, right 0.3s ease-out;
    .modal-content {
      border-radius: 0;
      border: none;
      .modal-header {
        border: none;
      }
      .modal-body {
        height: 100vh;
        overflow-y: scroll;
        padding: 15px 15px;
      }
    }
  }
}
