.bg-light-blue {
  background-color: $light-blue;
}
.btn-red {
  background-color: $bright-pink;
  color: #fff;

  &:hover {
    background-color: #000;
  }
}

.btn-blue {
  background-color: $dark-blue;
  color: #fff;

  &:hover {
    background-color: #000;
  }
}
.modal.fade.right {
  h4 {
    font-family: $logo-font;
    font-size: 3em;
  }

  .btn {
    margin-right: 10px;
  }
}
.alert {
  z-index: 5;
  margin: 0 !important;
}

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  overflow-y: auto;
  min-height: 100vh;
  transform: translate3d(0%, 0, 0);
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
  right: 0px;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #eeeeee;
  background-color: #fafafa;
}
